@media (max-width: 992px) {
    .info {
        margin: 60px 0;
        
    }
    .results {
       padding-right: 20px;
    }

}
@media (max-width: 840px) {
    .results {
        width: 270px;

    }
    .result {
        &__icon {
            width: 27px;
        }
        &__title {
            display: none;
        }
        &__value {
            margin-top: 10px;
        }
    }
    .rate {
        &__last {
            text-align: right;
        }
    }
}
@media (max-width: 768px) {
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
    }
    .results {
        padding-right: 40px;

    }
    .result {
        &__title {
            font-size: 13px;
        }
        &__value {
            font-weight: 600;
            font-size: 17px;
            margin-top: 7px;
        }
    }
    .btn {
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .rate__info {
        display: flex;
        flex-direction: column;
    }
    .rate__last {
        margin-top: 15px;
    }
}

@media (max-width: 682px) {
   .info {
    display: flex;
    column-gap: 25px;
   }
    .results {
        padding-right: 15px;
       
    }
    .result {
        display: grid;
        grid-template-columns: 20px 1fr;
        &__icon {
            width: 17px;
        }
        &__title {
            font-size: 12px;
        }
        &__value {
            font-weight: 600;
            font-size: 15px;
            margin-top: 5px;
        }
      
    }
    .btn {
        padding: 10px 20px;
        font-size: 15px;
    }

}

@media (max-width: 556px) {
    .results {
        column-gap: 5px;
        padding-right: 5px;
    }
    .result {
        background: none;
        color: var(--white-color);
    }
    
}


@media (max-width: 480px) {
    .info {
        margin: 30px 0;
    }
    .rate__conversion {
        text-align: center;
    }
    .info {
        display: flex;
        flex-direction: column;
    }
    .btn {
        margin: 15px 0;
    }
 }
 
