@import './media.module';
.content {
    margin-top: 40px;
}

.single__select {
    background-color: var(--select-color);
    color: var(--black-color);
    border-color: var(--white-bg);
    display: none;
}
.item {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 12px;
    padding: 12px 20px;
    border: 2px solid var(--white-color);
    background: none;
    &.current {
        border: none;
        background-color: var(--current-currency-bg);
    }
}

.titles {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
    font-weight: 600;
    color: var(--title-text);
}

.desc {
    color: var(--desc-text);
}

.amount {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.single {
    position: relative;
    &__item {
        margin-top: 15px;
        height: 69px;
    }
}

.action {
    text-align: right;
}

.change {
    background-color: var(--black-color);
    border: 1px solid var(--black-color);
    color: var(--white-color);
    &:hover {
        background-color: var(--white-bg);
        color: var(--black-color);
        opacity: 1;
    }
}
.remove {
    &:hover{
        background-color: var(--black-color);
        border: 1px solid var(--white-color);
        color: var(--white-color);
        opacity: 1;
    }
   
}


.list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.add {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    &__currency {
        background-color: var(--white-bg);
        color: var(--black-color);
        border-color: var(--white-color);
    }
   
}


