@import './media.module';

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.amount {
    width: 290px;
}

label {
    display: block;
    font-size: 13px;
    color: var(--label-color);
    margin-bottom: 10px;
    padding-left: 16px;
}

input {
    width: 100%;
    background: var(--black-color); 
    border-radius: 12px;
    font-weight: 600;
    line-height: 19px;
    color: var(--title-text);
    border: 2px solid var(--white-bg);
    padding: 14px
}

.selects {
    display: flex;
    column-gap: 25px;
    align-items: end;
}
.select {
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 32px;
        cursor: pointer;
        border-radius: 50%;
        margin-bottom: 5px;
        padding: 3px;
        opacity: .4;
        &:hover {
            opacity: 1;
        }
    }
    
}
