@media (max-width: 768px) {
    .tab {
        padding: 17px;
    }
}
@media (max-width: 682px) {
    .link {
        font-size: 15px;
    }
}
@media (max-width: 556px) {
    .tab {
        column-gap: 7px;
    }
   
}