@media (max-width: 768px) {
    .tab {
        padding: 17px;
    }
}
@media (max-width: 682px) {
    .link {
        font-size: 15px;
    }
}
@media (max-width: 556px) {
    .tab {
        column-gap: 7px;
    }
   
}
@media (max-width: 480px) {
  .tab {
    padding: 10px;
  }
}
@media (max-width:400px) {
  .link {
    font-size: 13px;
  }
}
